@model BookingServices.Data.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialPaymentPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialPaymentPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnlineOrOffline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnlineOrOffline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequestedOrNot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequestedOrNot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceProvider.ProviderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderContract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderContract.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminContract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminContract.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseService.Details)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
