@model IEnumerable<BookingServices.Data.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialPaymentPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnlineOrOffline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRequestedOrNot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseService)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialPaymentPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnlineOrOffline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequestedOrNot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProvider.ProviderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderContract.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminContract.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseService.Details)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
