@model IEnumerable<BookingServices.Models.ServiceModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProvider.cshtml";
}

<h1>Services</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.InitialPaymentPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.IsOnlineOrOffline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="m-auto">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialPaymentPercentage) %
            </td>
            <td>
                    @if (!item.IsOnlineOrOffline && !item.IsRequestedOrNot)
                    {
                        <a asp-action="RequestToMakeServiceOnline" asp-route-id="@item.ServiceId" class="btn btn-outline-secondary ps-3 pe-3">Offline</a>
                    }
                    else if (!item.IsOnlineOrOffline && item.IsRequestedOrNot)
                    {
                        <div class="alert alert-warning text-center m-auto pt-1 pb-1 w-75">Pending</div>
                    }
                    else if (item.IsOnlineOrOffline && item.IsRequestedOrNot)
                    {
                        <div class="alert alert-success text-center m-auto pt-1 pb-1 w-75">Online</div>
                    }
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
                <td>
                    <div class="d-flex flex-wrap">
                        <a asp-action="Edit" asp-route-id="@item.ServiceId" class="btn btn-outline-primary me-2 mb-2">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ServiceId" class="btn btn-outline-success me-2 mb-2">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                        <a asp-action="Images" asp-route-id="@item.ServiceId" class="btn btn-outline-info me-2 mb-2">
                            <i class="fa-solid fa-image"></i>
                        </a>
                        <a asp-action="Prices" asp-route-id="@item.ServiceId" class="btn btn-outline-info me-2 mb-2">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.ServiceId" class="btn btn-outline-danger mb-2">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>
                </td>

        </tr>
}
    </tbody>
</table>
