@model IEnumerable<BookingServices.Models.ServiceModel>

@{
    ViewData["Title"] = "Index";
    if (ViewBag.isProvider == true)
    {
        Layout = "~/Views/Shared/_LayoutProvider.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<h1>Services</h1>

@if (ViewBag.isProvider)
{
    <p>
        <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
    </p>
}

<div class="mb-3 d-none">
    <input type="text" id="searchInput" placeholder="Search by service name" class="form-control" />
</div>

<div class="row">
    <!-- Location Filter -->
    <div class="mb-3 col-6">
        <select id="locationSelect" class="form-select">
            <option value="">All Locations</option>
            @foreach (var location in ViewBag.Locations as List<string>)
            {
                <option value="@location">@location</option>
            }
        </select>
    </div>

    <!-- Category Filter -->
    <div class="mb-3 col-6">
        <select id="categorySelect" class="form-select">
            <option value="">All Categories</option>
            @foreach (var category in ViewBag.Categories as List<string>)
            {
                <option value="@category">@category</option>
            }
        </select>
    </div>
</div>

<!-- Quantity Filter -->
<div class="row mb-3">
    <div class="col-6">
        <label for="minQuantityRange" class="form-label">Min Quantity: <span id="minQuantityLabel">0</span></label>
        <input type="range" id="minQuantityRange" class="form-range" min="0" max="100" step="1" value="0" oninput="updateQuantityLabel()" />
    </div>
    <div class="col-6">
        <label for="maxQuantityRange" class="form-label">Max Quantity: <span id="maxQuantityLabel">100</span></label>
        <input type="range" id="maxQuantityRange" class="form-range" min="0" max="100" step="1" value="100" oninput="updateQuantityLabel()" />
    </div>
</div>
<div class="table-responsive">
<table class="table table-hover text-center" id="myTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.StartTime)</th>
            <th>@Html.DisplayNameFor(model => model.EndTime)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.InitialPaymentPercentage)</th>
            @if (ViewBag.isProvider)
            {
                <th>@Html.DisplayNameFor(model => model.IsOnlineOrOffline)</th>
            }
            else
            {
                <th></th> <!-- Empty header to maintain column count -->
            }
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.ServicePrice)</th>
            @if (!ViewBag.isProvider)
            {
                <th>@Html.DisplayNameFor(model => model.ServiceProviderName)</th>
            }
            else
            {
                <th></th> <!-- Empty header to maintain column count -->
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.InitialPaymentPercentage) %</td>
                @if (ViewBag.isProvider)
                {
                    <td>
                        @if (!item.IsOnlineOrOffline && !item.IsRequestedOrNot)
                        {
                            <a asp-action="RequestToMakeServiceOnline" asp-route-id="@item.ServiceId" class="btn btn-outline-secondary ps-3 pe-3">Offline</a>
                        }
                        else if (!item.IsOnlineOrOffline && item.IsRequestedOrNot)
                        {
                            <div class="alert alert-warning text-center m-auto pt-1 pb-1">Pending</div>
                        }
                        else if (item.IsOnlineOrOffline && item.IsRequestedOrNot)
                        {
                            <div class="alert alert-success text-center m-auto pt-1 pb-1">Online</div>
                        }
                    </td>
                }
                else
                {<td></td> }
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.ServicePrice)</td>
                @if (!ViewBag.isProvider)
                {<td>@Html.DisplayFor(modelItem => item.ServiceProviderName)</td>}
                else
                {<td></td>}
                @if (ViewBag.isProvider)
                {
                    <td>
                        <div class="d-flex">
                            <a asp-action="Edit" asp-route-id="@item.ServiceId" class="btn btn-outline-primary me-2 mb-2 d-sm-inline">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.ServiceId" class="btn btn-outline-success me-2 mb-2 d-sm-inline">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                            <a asp-action="GetImages" asp-route-id="@item.ServiceId" class="btn btn-outline-info me-2 mb-2 d-sm-inline">
                                <i class="fa-solid fa-image"></i>
                            </a>
                            <a asp-action="Prices" asp-route-id="@item.ServiceId" class="btn btn-outline-info me-2 mb-2 d-sm-inline">
                                <i class="fa-solid fa-dollar-sign"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.ServiceId" class="btn btn-outline-danger mb-2 d-sm-inline">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                    </td>
                }
                else
                {<td></td>}
            </tr>
        }
    </tbody>
</table>
</div>
<script src="~/js/servicesfilter.js"></script>
<script>
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        var isProvider = '@ViewBag.isProvider' === 'True'; // Retrieve the isProvider value from ViewBag

        js('#myTable').DataTable({
            columns: [
                { title: 'Name' }, // Column 1: Name
                { title: 'Location' }, // Column 2: Location
                { title: 'Start Time' }, // Column 3: Start Time
                { title: 'End Time' }, // Column 4: End Time
                { title: 'Quantity' }, // Column 5: Quantity
                { title: 'Initial Payment %' }, // Column 6: Initial Payment Percentage
                { title: 'Status', visible: isProvider }, // Column 7: IsOnlineOrOffline (visible if isProvider)
                { title: 'Category' }, // Column 8: Category Name
                { title: 'Price' }, // Column 9: Service Price
                { title: 'Service Provider', visible: !isProvider }, // Column 10: ServiceProviderName (visible if not isProvider)
                { title: 'Actions' } // Column 11: Actions (Edit/Delete buttons)
            ]
        });
    });
</script>
