@model IEnumerable<BookingServices.Data.ServicePrice>

@{
    ViewData["Title"] = "Prices";
    Layout = "~/Views/Shared/_LayoutProvider.cshtml";

}

<h1 class="text-center head-color">@ViewData["ServiceName"] Prices</h1>

<p>
    <a asp-action="AddPrice" asp-route-id="@ViewData["ServiceId"]" class="btn btn-outline-primary">Add Price</a>
</p>
<div class="table-responsive">
<table class="table table-hover justify-content-center align-content-center" id="myTable">
    <thead>
        <tr>
            <td>#</td>
            <th>Date</th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.PriceDate.ToString("yyyy-MM-dd")</td>
                    <th>@Html.DisplayFor(modelItem => item.Price)</th>
                    <th>
                        <a asp-action="EditPrice" asp-route-id="@item.ServiceId" asp-route-date="@item.PriceDate" class="btn btn-outline-success me-2 mb-2 d-sm-inline">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>
</div>
<div class="d-flex">
    <a asp-action="Index" class="btn btn-outline-secondary ms-auto">Back to List</a>
</div>
<script src="~/js/datatablesjs.js"></script>
