@model IEnumerable<BookingServices.Data.ServiceProvider>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Balance
            </th>
            <th>
                Reserved Balance
            </th>
            <th>
                Service Details
            </th>
            <th>
                Rate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProviderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProviderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProviderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
