@model IEnumerable<BookingServices.Models.ProviderDataVM>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/StyleCustom/StyleList.css" />

<div class="container">

    <h3>Providers</h3>

    <table class="table mt-5">
        <thead>
            <tr>
                <th>
                    Provider Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>          
                <th>
                    Service Details
                </th>
                <th>
                    Rate
                </th>
           
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
