@model IEnumerable<BookingServices.Data.AdminContract>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
<h1 class="mt-3">Contracts</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</p>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.ContractName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.ContractId" class="btn btn-link" title="Edit">
                        <i class="fas fa-edit text-warning" style="font-size: 24px;"></i>
                    </a>
                    </td>
                    <td>
                    <a asp-action="Delete" asp-route-id="@item.ContractId" class="btn btn-link" title="Delete">
                        <i class="fas fa-trash-alt text-danger" style="font-size: 24px;"></i>
                    </a>
                    </td>
                </tr>
        }
    </tbody>
</table>
<script src="~/js/datatablesjs.js"></script>