@model BookingServices.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutProvider.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
            background-color: #f8f9fa;
        }

        .error-image {
            width: 50%;
            margin-bottom: 20px;
            object-fit: fill;
        }
    </style>
</head>
<body>
    <img src="~/images/error.jpg" alt="Error" class="error-image"/>
    <h2 class="display-4">Oops! Something went wrong.</h2>
    <h3>Error Message: @Model.Message</h3>
    <a class="btn btn-danger mt-3" href="@Url.Action(@Model.Action, @Model.Controller)">Go Back</a>
</body>
</html>
