@model IEnumerable<ServicesVM>

<div class="container mt-5">
    <h2 class="text-center">Requested Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Service Provider</th>
                <th>Service Name</th>
                <th>Location</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                <tr>
                    <td>@service.ProviderName</td>
                    <td>@service.ServiceName</td>
                    <td>@service.Location</td>
                    <td>@service.Details</td>
                    <td> <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@service.Id">Details</a> </td>
                </tr>
            }
        </tbody>
    </table>
</div>